body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: #1E3A8A;
    color:  #F5F5F5;
    padding: 20px;
}

p {
    font-size: 1.1rem;
    font-weight: bold;
}

div {
    margin-top: 10px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-left: 5px;
}

button {
    text-align: right;
}